<%= content_for :page_title, 'Ryan Scott | About Me' %>

<div class="container">
  <div class="pad-top page-content padded">
    <h1 class="source-sans-pro">About Me</h1>
    <div class="row">
      <div class="one fourth">
        <img src="<%= image_path('about-me.jpg') %>" />
      </div>
      <div class="three fourths padded">
        <p>I'm a software developer living in Melbourne Australia.</p>
        <p>I currently work with Ruby on Rails and JavaScript.</p>
        <p>In my spare time I love programming games and spending time with my girlfriend.</p>
      </div>
    </div>
  </div>
</div>
