<%= content_for :page_title, 'Ryan Scott - Home' %>

<div class="container">
  <div class="pad-top">
    <ul class="home-nav">
      <li class="box row post third-post animated fadeInUp">
        <a class="post-link" href="<%= page_path('about') %>">
          <div class="padded one half glass">
            <h2 class="quicksand responsive" data-compression="18">About Me</h2>
          </div>
        </a>
      </li>
    </ul>
    
  </div>
</div>