<div class="container">
  <div class="padded">
    <ul class="home-nav">
      <li class="box row post">
        <a href="<%= page_path('about') %>">
          <div class="padded one half glass">
            <h2>About Me</h2>
            <p>Here are some words</p>
          </div>
        </a>
      </li>
      <!-- <li class="box row post">
        <a href="#">
          <div class="padded one half glass">
            <h2>Something</h2>
            <p>Here are some words</p>
          </div>
        </a>
      </li> -->
    </ul>
    
  </div>
</div>