<%
  meta :title => 'Ryan Scott - Home',
    :description => "Ryan Scott - I'm a software developer living in Melbourne Australia. I currently work with Ruby on Rails and JavaScript. In my spare time I love programming games and spending time with my girlfriend.",
    :keywords => %w(ryan scott rails ruby javascript melbourne programming games)
%>


<div class="container">
  <div class="pad-top">
    <ul class="home-nav">
      <li class="box row post third-post animated fadeInUp">
        <a class="post-link" href="<%= page_path('about') %>">
          <div class="padded one half glass">
            <h2 class="quicksand responsive" data-compression="18">About Me</h2>
          </div>
        </a>
      </li>
    </ul>
    
  </div>
</div>
