<div class="container">
  <% @posts.each do |post| %>
    <a href="<%= post.id %>" class="post-entry box">
      <h3>
        <%= post.title %>
      </h3>
      <% if post.tldr %>
        <p class="blurb">
          <%= post.tldr %>
        </p>
      <% end %>
    </a>
  <% end %>
</div>