<!DOCTYPE html>
<html>
<head>
  <title>Website</title>
  <%= stylesheet_link_tag    "application", media: "screen" %>
  <!--[if IE]>
    <link type="text/css" rel="stylesheet" href="/assets/groundworkcss/groundwork-ie.css">
  <![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
</head>
<body>

<header>
	<div class="container">
		<div class="row">
			<div class="one half">
				<h2 class="logo">
					<a href="/" target="_parent">ryan-scott.net</a>
				</h2>
			</div>
			<div class="one half">
				<p class="small double pad-top no-pad-small-tablet align-right align-left-small-tablet">
					<a href="https://github.com/Archytaus" target="_parent">Archytaus</a>
					<br>
					<a href="http://twitter.com/atthealma" target="_blank">@atthealma</a>
				</p>
			</div>
		</div>
	</div>
</header>

<%= yield %>

</body>
</html>
